Source: ruby-dropbox-sdk
Section: ruby
Priority: optional
Maintainer: FOSS Team SaM-Solutions <foss@sam-solutions.net>
Uploaders:  <e.lavnikevich@sam-solutions.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~), ruby-json, ruby-oauth
Standards-Version: 3.9.3
Homepage: https://github.com/SaM-Solutions/ruby-dropbox-sdk
XS-Ruby-Versions: ruby1.9.1

Package: ruby-dropbox-sdk
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-json
Description: Dropbox REST API Client.
 A library that provides a plain function-call interface to the
 Dropbox API web endpoints.
