Source: ruby-dropbox-sdk
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <a.tulia@sam-solutions.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.13~), ruby-json, ruby-oauth
Standards-Version: 3.9.2
Homepage: https://www.dropbox.com/developers/reference/sdk
XS-Ruby-Versions: ruby1.9.1

Package: ruby-dropbox-sdk
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: Ruby API for Dropbox service (http://www.dropbox.com)
