Package: ruby-dropbox-sdk
Version: 1.5.1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 111
Depends: ruby | ruby-interpreter
Section: ruby
Priority: optional
Homepage: https://www.dropbox.com/developers/reference/sdk
Description: Ruby API for Dropbox service (http://www.dropbox.com)
Ruby-Versions: ruby1.9.1
